demystify/__pycache__/
demystify/.mypy_cache/
demystify/demystify.egg-info/
demystify.egg-info/
build/
dist/
.mypy_cache/
.vscode/demystify/solvers/__pycache__/
demystify/solvers/__pycache__/
__pycache__/
.vscode

*.info
*.infor
*.dimacs
*/*.dimacs
*/*/*.dimacs
*.minion
*/*.minion
*/*/*.minion
.MINIONSOLS_*
.MINIONSTATS_*
.*.swp
update_examples.sh
