demystify/__pycache__/
demystify/.mypy_cache/
.mypy_cache/
.vscode/demystify/solvers/__pycache__/
demystify/solvers/__pycache__/
__pycache__/
.vscode

*.info
*.infor
*.minion

.MINIONSOLS_*
.MINIONSTATS_*
.*.swp
